@import '../../vars';

.footer {
  padding-bottom: var(--sm-offset);
  @media (max-width: 767px) {
    background-color: #0E1014;
    padding: 40px 15px;
  }
}

.menu {
  @media (max-width: 470px) {
    max-width: 120px;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (max-width: 992px) {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

.info {
  display: flex;
  gap: 95px;
  @media (max-width: 1100px) {
    gap: 80px;
  }

  @media (max-width: 992px) {
    flex-basis: 100%;
    margin-bottom: 30px;
    gap: 150px;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
    gap: 30px;

    .about {
      flex-basis: 100%;
    }
  }
}

.contacts {
  text-align: right;
  .list {
    flex-wrap: nowrap;
    gap: 15px;
    p {
      margin: 0;
      @media (max-width: 1100px) {
        font-size: 14px;
      }
    }
    li {
      ul {
        justify-content: right;
        gap: 10px;

        @media (max-width: 992px) {
          justify-content: left;
        }
      }
    }
    @media (max-width: 1100px) {
      font-size: 15px;
    }

    @media (max-width: 576px) {
     gap: 8px;
    }
  }

  @media (max-width: 992px) {
    text-align: left;
  }
}

.title { 
  margin: 0;
  margin-bottom: var(--sm-offset);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #656566;
}

.list {
  margin: 0;
  padding: 0;
  max-height: 130px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 50px;
  li {

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.2s ease;

      &:hover {
        color: var(--text-color-hover);
      }
    }
    @media (max-width: 1100px) {
      font-size: 15px;
    }

    @media (max-width: 470px) {
      font-size: 14px;
    }
  }

  @media (max-width: 470px) {
    max-height: 150px;
    column-gap: 45px;
  }
}

.copyright {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  opacity: 0.9;
  a {
    display: block;
    margin-top: 4px;
    color: inherit;
  }

  @media (max-width: 992px) {
    text-align: left;
  }
}