:root {
  --text-color: #e4e5ea;
  --text-color-hover: #b0b2c1;

  --accent-color: #4077f3;
  --accent-color-hover: #0e51e7;

  --background-color: #0e1014;

  --sm-offset: 20px;
  --main-offset: 30px;
  --md-offset: 40px;
  --big-offset: 60px;

  @media (max-width: 767px) {
    --main-offset: 20px;
  }
}
